div.gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.screenshot {
    width: 100%;
    text-align: center;
}

div.screenshot img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 250px;
    margin: auto;
}

div.screenshot p {
    margin: 0;
    padding-bottom: 0.1em;
    height: 2lh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.screenshot {
    width: 200px;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.10),
        0px 10px 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.15);
}

/* Borrowed from foobar2000.org/foo4.css */